<main class="flow">

  <ng-container *ngIf="upsidedownChandelier">

    <div class="wide-wrapper">
      <h1 class="page-title"> {{upsidedownChandelier.title}} </h1>

      <cx-youtube-video
        [videoId]="video && video.id"
      ></cx-youtube-video>
    </div>

    <div class="center flow">
      <p *ngFor="let para of upsidedownChandelier.description"> {{para}} </p>

      <cx-accolades-list
        [artwork]=upsidedownChandelier
      ></cx-accolades-list>
    </div>

  </ng-container>

</main>
