<main class="container">

  <h1 class="page-title">Archive of E-Lit works</h1>
  <!-- TODO: change heading and add intro -->
  <div class="grid-auto">
    <p class="intro">
      Digital fictions, video-games, interactive narratives, digital poetry/e-poetry... collectively, these are works of <a href="https://eliterature.org/">electronic literature</a> or e-lit. I created most of them in Flash. Since the Flash Player is no longer available in most browsers, I have made video screencasts of the Flash works.
    </p>
    <div *ngFor="let artwork of artworks" class="artwork">
      <cx-artwork-card [artwork]="artwork" class="crissxross-light-theme"
      ></cx-artwork-card>
    </div>
  </div>

</main>
