<main class="container">

  <h1 class="page-title">Flash Electronic Literature Archive</h1>

  <div class="grid-auto">
    <p class="intro">
      Digital fictions, interactive narratives, video-games, digital poetry/e-poetry, playable stories... collectively, these are works of <a href="https://eliterature.org/">electronic literature</a> (e-lit). I created these works in Flash, which was a wonderful animation and programming technology for creators to make rich interactive media experiences and games. Sadly, the Flash Player is no longer available in modern browsers, therefore I have made video screencasts of these Flash works.
    </p>
    <div *ngFor="let artwork of artworks" class="artwork">
      <cx-artwork-card [artwork]="artwork" class="crissxross-light-theme"
      ></cx-artwork-card>
    </div>
  </div>

</main>
