.background {
  display: grid;
  background-color: var(--clr-neutral-100);
  height: 100%;
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.65) 50%,rgba(0,0,0,0.8) 100%),
		url(/assets/img/cxtrail/wave2_02.png),
		url(/assets/img/cxtrail/waveGradTrans_03.png),
		url(/assets/img/cxtrail/wavebig_04.png),
		url(/assets/img/cxtrail/wave2_02.png),
		url(/assets/img/cxtrail/wavebig_04.png),
		url(/assets/img/cxtrail/waveGradTrans_03.png),
    url(/assets/img/cxtrail/remixworxTagsBW.png);
  background-repeat: no-repeat, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat;
  background-position: top, 5% 40%, 15% 0%, 40% 0%, 65% 0%, 80% 30%, 90% 20%, top; /*gradient, various waves..., TagsBW*/
}

main {
  color: var(--clr-neutral-800);
  padding-bottom: var(--s5);
}

header {
  padding-top: var(--s3);
  padding-bottom: var(--s5);
}

.page-title,
.subtitle {
  text-align: center;
  padding-top: 0;
  font-weight: var(--fw-200);
  line-height: 1;
}

h1.page-title {
  font-size: var(--fs-800);
}

footer {
  text-align: center;
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: var(--s1);
  padding-bottom: var(--s-1);
}

footer a {
  color: var(--clr-accent-dark);
}

img,
.image,
.image > button {
  border-radius: 0.3em;
}

.image > button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.image > button:hover {
  filter: brightness(1.2);
  // box-shadow: horizontal vertical blur spread color
  // for reference elevation-z4:
    // box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    //             0px 4px 5px 0px rgb(0 0 0 / 14%),
    //             0px 1px 10px 0px rgb(0 0 0 / 12%);
  // elevation-z8
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
                0px 8px 10px 1px rgb(0 0 0 / 14%),
                0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.story > button {
  border: none;
  border-radius: 0.25em;
  text-align: left;
  text-decoration: underline solid hsl(0, 100%, 50%);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.3em;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 0.5em;
  cursor: pointer;
}

.story > button:hover {
  text-decoration-color: hsla(0, 100%, 50%, 0.5);
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.15em;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.trail-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: var(--s0);
}

.about {
  grid-column-end: -1;
  grid-row: 1;
}

.image,
.story {
  grid-column-end: span 3;
}

.story {
  align-self: start;
  justify-self: start;
  // grid-column-end: span 3;
}

// stories..............
.s1 {
  grid-column-start: 1;
  grid-row: 1;
}
.s2 {
  grid-column-start: 9;
  grid-row: 1;
}
.s3 {
  grid-column-start: 6;
  grid-row: 2;
}
.s4 {
  grid-column-start: 11;
  grid-row: 3;
}
.s5 {
  grid-column-start: 4;
  grid-row: 4;
}
.s6 {
  grid-column-start: 5;
  grid-row: 6;
}
.s7 {
  grid-column-start: 13;
  grid-row: 6;
}
.s8 {
  grid-column-start: 14;
  grid-row: 7;
}
.s9 {
  grid-column-start: 8;
  grid-row: 9;
}
.s10 {
  grid-column-start: 5;
  grid-row: 10;
}
.s11 {
  grid-column-start: 13;
  grid-row: 10;
}
.s12 {
  grid-column-start: 9;
  grid-row: 11;
}
.s13 {
  grid-column-start: 7;
  grid-row: 13;
}
.s14 {
  grid-column-start: 14;
  grid-row: 13;
}
.s15 {
  grid-column-start: 9;
  grid-row: 14;
}
.s16 {
  grid-column-start: 13;
  grid-row: 19;
}
.s17 {
  grid-column-start: 9;
  grid-row: 20;
}
.s18 {
  grid-column-start: 4;
  grid-row: 22;
}
.s19 {
  grid-column-start: 11;
  grid-row: 22;
}
.s20 {
  grid-column-start: 14;
  grid-row: 23;
}
.s21 {
  grid-column-start: 3;
  grid-row: 24;
}

// figures..................................
.pic1 {
  grid-column-start: 6;
  grid-row: 1;
}
.pic2 {
  grid-column-start: 3;
  grid-row: 2;
}
.pic3 {
  grid-column-start: 14;
  grid-row: 2;
}
.pic4 {
  grid-column-start: 8;
  grid-row: 3;
}
.pic5 {
  grid-column-start: 1;
  grid-row: 4;
}
.pic6 {
  grid-column-start: 11;
  grid-row: 4;
}
.pic7 {
  grid-column-start: 5;
  grid-row: 5;
}
.pic8 {
  grid-column-start: 13;
  grid-row: 5;
}
.pic9 {
  grid-column-start: 2;
  grid-row: 6;
}
.pic10 {
  grid-column-start: 10;
  grid-row: 6;
}
.pic11 {
  grid-column-start: 4;
  grid-row: 7;
}
.pic12 {
  grid-column-start: 11;
  grid-row: 7;
}
.pic13 {
  grid-column-start: 9;
  grid-row: 8;
}
.pic14 {
  grid-column-start: 5;
  grid-row: 9;
}
.pic15 {
  grid-column-start: 14;
  grid-row: 9;
}
.pic16 {
  grid-column-start: 2;
  grid-row: 10;
}
.pic17 {
  grid-column-start: 10;
  grid-row: 10;
}
.pic18 {
  grid-column-start: 6;
  grid-row: 11;
}
.pic19 {
  grid-column-start: 12;
  grid-row: 11;
}
.pic20 {
  grid-column-start: 1;
  grid-row: 12;
}
.pic21 {
  grid-column-start: 4;
  grid-row: 13;
}
.pic22 {
  grid-column-start: 11;
  grid-row: 13;
}
.pic23 {
  grid-column-start: 14;
  grid-row: 14;
}
.pic24 {
  grid-column-start: 8;
  grid-row: 15;
}
.pic25 {
  grid-column-start: 5;
  grid-row: 16;
}
.pic26 {
  grid-column-start: 12;
  grid-row: 17;
}
.pic27 {
  grid-column-start: 3;
  grid-row: 18;
}
.pic28 {
  grid-column-start: 10;
  grid-row: 19;
}
.pic29 {
  grid-column-start: 6;
  grid-row: 20;
}
.pic30 {
  grid-column-start: 14;
  grid-row: 21;
}
.pic31 {
  grid-column-start: 1;
  grid-row: 22;
}
.pic32 {
  grid-column-start: 8;
  grid-row: 22;
}
.pic33 {
  grid-column-start: 11;
  grid-row: 23;
}

