<!-- <main class="flow">
  <div class="center-wrapper">
    <h1 class="page-title">A crissxross trail < R3M1XW0RX</h1>
  </div>
  <cx-under-construction></cx-under-construction>
</main> -->

<div class="background">
  <div class="center-wrapper">
    <main>
      <header>
        <h1 class="page-title">a crissxross trail < R3M1XW0RX</h1>
        <h2 class="subtitle">one remix player's scenic route through remixworx - click to play/read samples</h2>
      </header>


      <!-- ****************** INLINE STORIES & STORY NOTES that only show up inside fancyboxes ******************************************************************* -->

    <div id="inline1" style="width:600px;">
      <h3>the magic circle</h3>

      <p>We tend to call ourselves remix players, recognising that our activity is a form of creative play and the remixworx blog is our playground.</p>

      <p>In his book, <cite>Homo Ludens</cite> (1938), Johan Huizinga argues:</p>

      <blockquote><p>All play moves and has its being within a play-ground marked off beforehand either materially or ideally, deliberately or as a matter of course… The arena, the card-table, the magic circle, the temple, the stage, the screen, the tennis court, the court of justice, etc., are all in form and function play-grounds, i.e. forbidden spots, isolated, hedged round, hallowed, within which special rules obtain. All are temporary worlds within the ordinary world, dedicated to the performance of an act apart.</p></blockquote>

      <p>To remix is to enter the magic circle<sup id="fnref:1">1</sup> that is remixworx, to play the remixing game - which in many ways is like a massive game of <a href="http://en.wikipedia.org/wiki/Exquisite_corpse" target="_blank">exquisite corpse</a>. It’s a game without a winning state but each remix is a goal achieved. There are no explicit rules, other than giving up the source files to be freely remixed, but there are many implicit rules or conventions that we subscribe to, most of the time at any rate (e.g. using pseudonyms).</p>
          <!--  footNOTES -->
      <div class="footnotes">
      <hr/>
      <ol>
      <li id="fn:1"><!-- Do I need this behaviour? -->
      <p>term coined by Katie Salen &amp; Eric Zimmerman (2004) in <cite>Rules of Play: Game Design Fundamentals</cite></p></li>
      </ol>
      </div><!--end footnotes-->
    </div><!--end #inline1-->

    <div id="inline2" style="width:600px;">
    <h3>flash point about control</h3>

      <p>Enchanted by <a href="http://remixworx.com/?p=53" target="_blank"><cite>picasso’s point</cite></a>, an image produced entirely in HTML text styled with CSS by <em>poem by nari</em> (<abbr>aka</abbr> <em>t</em>, Ted Warnell), I took it (screenshots) and remixed it in Flash: <a class="fancy710x600" href="../remix/point_taken_mx.swf" title="point taken"><cite>point taken</cite></a> - a cheeky title, especially since the creator of the source work objected to Flash because it’s “proprietary &amp; non-networked”.</p>

      <p>It led to a <a href="http://crissxross.net/wilx/2007/02/13/used-to-be-big/#comments" target="_blank">discussion</a> on my personal blog (Feb 2007) - <em>t</em> argued:</p>

      <blockquote><p>flash is mcp (from ‘tron’) — master control program… — if you know the story (tron) the mcp was as a dictator — taking all resources for itself and enslaving the other ‘users’ (programs) — flash is a bit like mcp in that it carries all resources within itself and overrides the other programs — it effectively denies the intelligence of the client (and user) — the statement it makes is ‘i’m the designer and i know better than you how you should be receiving this’ — of course, i disagree</p></blockquote>

      <p>He also likened it to a “tumor :)” in the browser. I understood his point but I wasn’t willing to abandon Flash when, at that time, there was nothing else that could offer such rich media potential.</p>
    </div><!--end #inline2-->

    <div id="inline3" style="width:500px;">
    <h3>inventing &amp; reinterpreting</h3>

      <p>I can only talk from my perspective. You must imagine, as I do, what the others are up to, what they're thinking, what their intentions are, what they mean, what their mood is. To remix, we don't ask permission, we don't communicate directly, we just do it. The creative conversation is through the work itself - remixes speak to each other. Remixing is a combination of interpreting and inventing the conversation. So, I invent the others, my co-remixers, as they, perhaps, invent me. These are multi-threaded conversations at many cross-purposes. It's fascinating retracing our steps, retracing our conversations, reinterpreting as we go. Of course, sometimes we misinterpret wilfully, playfully, poetically, mischievously - e.g.  <a href="http://remixworx.com/?p=53" target="_blank"><cite>picasso's point</cite></a> to <a class="fancy710x600" href="../remix/point_taken_mx.swf" title="point taken"><cite>point taken</cite></a>. We take it the 'wrong' way on creative purpose.</p>
    </div><!--end #inline3-->

    <div id="inline4" style="width:336px;"><!--THING VIDEO-->
      <p>THING VIDEO !!! WAS EMBEDDED HERE !!!</p>
    </div><!--end #inline4-->

    <div id="inline5" style="width:400px;">
    <h3>aliases, pen names, stage names...</h3>

      <p>Most remixers use pseudonyms - runran, babel, poem by nari, rzepka, author x, crissxross… aliases, pen names, stage names. It signals that we’re in the game, willing to play, willing to take part, or sometimes act a part, to make believe. We become players in the remixworx world. We are other than ourselves in the remix - avatars, of sorts - outside ourselves, beyond ourselves, other-selves - we are changeable, transformable, remixable.</p>
    </div><!--end #inline5-->

    <div id="inline6" style="width:500px;">
    <h3>what's the attraction?</h3>

    <blockquote><p>to answer your question - what drew me to remix?</p>

    <p>Well, apart from the visual pleasures, I think it was the mystery that hooked me. The trail of clues... I wanted to pick the lock… open the box and jump in, jump out, dive back and forth. It's the delightful surprise too of what you'll find when you next visit. I love the way things aren't explained, you've got to work it out for yourself - but at the same time it's all open, it's all there for the picking...</p></blockquote>
    <p><small>from an email exchange with runran when I first joined, Jan 2007</small></p>
    </div><!--end #inline6-->

    <div id="inline7" style="width:400px;">
    <h3>wordplay</h3>

      <p>Play on words and visual puns are endemic in remixworx. If a thing can have ambiguous or multiple meanings, players will exploit it. We delight in randomness and absurd or chance juxtapostions in the spirit of <a href="http://en.wikipedia.org/wiki/Dada" target="_blank">Dada</a>, which is babel's particular interest, but, because of the nature of remixing, infects us all.</p>
    </div><!--end #inline7-->

    <div id="inline8" style="width:600px;">
    <h3>stripping it down to the code</h3>

      <p>Stripping down a remix is like stripping an engine. It reminds me of when, as a child, I audaciously dismantled my alarm clock and managed to put it back together again. It still worked! I was thrilled, but kept it secret because it seemed transgressive. </p>

      <p>That sense of transgression still lingers when I'm stripping a remix too. Perhaps it's the nature of Flash, proprietary and non-networked, as <a class="fancybox story" href="#inline2" title=""><em>t</em> argued</a>. But certainly, ActionScript code is usually sealed in SWF files, so opening up the source FLA file seems like unlocking secrets, opening a sealed box, cracking a safe, cracking code.</p>

      <p>Conversely, the massive community of Flash developers is remarkably open and sharing. So it's never been as black and white as <em>t</em> depicted. The workers of the www, the developers, override the “master control program”. However, these days, as the ubiquitous dominance of Flash is challenged, many of us are now transforming ourselves into Interactive Developers, embracing open source technologies (HTML5, Javascript, CSS). How will this affect <a href="http://remixworx.com/" target="_blank">remixworx?</a></p>
    </div><!--end inline8-->

    <div id="inline9" style="width:500px;">
    <h3>tampering with the other</h3>

      <p>A remix is a conversation with an imaginary other. The other becomes necessary to the creative process, the reason the work is being created. A remix is <em>for</em> the other - it's literally made for the others in the remixing community, and we hope also for a wider audience. In remixing another's work, if you accept the idea that, as artists, we put part of ourselves into our work, there's a sense that you are touching or tampering with the other or others embedded in the work. It's a consensual form of intercourse, however, because everything is freely given to be tampered with. That's the agreement, that's the only rule.</p>
    </div><!--end inline9-->

    <div id="inline10" style="width:600px;">

          <h3>Spacial combinatrics</h3>

          <p>(Writing’s easy… all you do is stare at the blank space until your forehead bleeds)</p>

          <p>Writing’s easy… all you do is stare at your forehead until it bleeds<br/>
          Writing’s easy… all you do is blank until your stare bleeds space<br/>
          Writing’s easy… all you do is bleed until your forehead is blank<br/>
          Writing’s easy… all you do until your stare blanks at you<br/>
          Writing’s easy… all you do is stare blank until you bleed<br/>
          Writing’s easy… all you do is stare at the blank<br/>
          Writing’s easy… all you do is to your head<br/>
          Writing’s easy… all you do is stare<br/>
          Writing’s easy… all you do is bleed<br/>
          Writing’s easy… all you do is blank<br/>
          Writing’s easy… all you do<br/>
          Writing’s easy… all you</p>

          <p>(or, push the pen)</p>

          <p>from <a class="fancybox" href="../remix/penpusherred.swf" title="sacrificial pen pusher - writing’s easy… all you do is stare at the blank space until your forehead bleeds, or… <em>push the pen</em>"><cite>sacrificial pen pusher</cite></a><br/>
          posted <strong>by babel</strong> | 3 comments »</p>

          <h5>crissxross says:</h5>

          <p>(Talking’s easy… all you do is stare at the blank face until your tongue bleeds)</p>

          <p>Talking’s easy… all you do is stare at your tongue until it bleeds<br/>
          Talking’s easy… all you do is blank until your stare bleeds face<br/>
          Talking’s easy… all you do is bleed until your tongue is blank<br/>
          Talking’s easy… all you do until your stare blanks at you<br/>
          Talking’s easy… all you do is stare blank until you bleed<br/>
          Talking’s easy… all you do is stare at the blank<br/>
          Talking’s easy… all you do is to your tongue<br/>
          Talking’s easy… all you do is stare<br/>
          Talking’s easy… all you do is bleed<br/>
          Talking’s easy… all you do is blank<br/>
          Talking’s easy… all you do<br/>
          Talking’s easy… all you</p>

          <p>(or, purse the lips)</p>

          <h5>babel says:</h5>

          <p>(Remixing’s easy… all you do is stare at the blank screen until your mouse feeds)</p>

          <p>Remixing’s easy… all you do is stare at your mouse until it feeds<br/>
          Remixing’s easy… all you do is stare at your screen until it feels<br/>
          Remixing’s easy… all you do is feed until your mouse is eaten<br/>
          Remixing’s easy… all you do until your flare blanks on you<br/>
          Remixing’s easy… all you do is stare back until you need<br/>
          Remixing’s easy… all you do is care about the blank<br/>
          Remixing’s easy… all you do is not what you mean<br/>
          Remixing’s easy… all you do is blank<br/>
          Remixing’s easy… all you do is stare<br/>
          Remixing’s easy… all you do is feed<br/>
          Remixing’s easy… all you do<br/>
          Remixing’s easy… all you</p>

          <p>(or, wiggle the hips)</p>

          <h5>crissxross says:</h5>

          <p>(Coding’s easy… all you do is stare at the blank source until your head hacks)</p>

          <p>Coding’s easy… all you do is stare at your head until it hacks source<br/>
          Coding’s easy… all you do is head at your source until it blanks<br/>
          Coding’s easy… all you do is scratch your head until it bleeds<br/>
          Coding’s easy… all you do is hack at your head until it cracks<br/>
          Coding’s easy… all you do until your head sources is blank<br/>
          Coding’s easy… all you do is scary without the source<br/>
          Coding’s easy… all you do is blank until you scratch<br/>
          Coding’s easy… all you do is bleed<br/>
          Coding’s easy… all you do is hack<br/>
          Coding’s easy… all you do is scare<br/>
          Coding’s easy… all you do<br/>
          Coding’s easy… all you</p>

          <p>(or, haggle for tips)</p>
    </div><!--end inline10-->

    <div id="inline11" style="width:500px;">
    <h3>no use setting rules</h3>

      <p>The way remix players work, there's no use trying to set rules, no one sticks to them. It's a defining characteristic and one of the charms of the project. We all do our own thing but somehow it holds together, at least it does in the dynamic environment of the web.</p>

      <p>It’s mostly trouble-free, but interestingly, when problems occur, it's usually around issues of structure or presentation - when we’re trying to make the collection, or the collective, fit some standard or form - whether that be difficulties with the WordPress blog theme or framework, or how to present the works in a different environment, for a different platform, network or medium.</p>

      <p>We end up agreeing to differ.</p>
    </div><!--end inline11-->

    <div id="inline12" style="width:500px;">
    <h3>becoming other</h3>

      <p>And in remixing you become other, not just a player, there’s more to you than that. Once you’ve mixed in, you can’t leave the game, not completely, because you’ve left something of yourself behind - your digital debris, your avatar, your code, your creations, whatever form it takes, your digital stuff is embedded in a dynamic environment. It plays on, it’s remixable. Something of you has become a mutating, evolving entity - many instances, multiplying. This other partial you inhabits the remixworx, lives in its world, carries on performing, and carries on behind your back with other remixes - mating, spawning, seeding all kinds of (other) things...</p>
    </div><!--end inline12-->

    <div id="inline13" style="width:400px;">
    <h3>outside world</h3>

      <p>Inevitably, the outside world impinges on the remixworx community. There may be invention, reverie and flights of fancy, but it's no fantasy world. Works of social and political comment spring up from time to time.</p>
    </div><!--end inline13-->

    <div id="inline14" style="width:600px;">
    <h3>creative cannibalism</h3>

      <p>In <a href="http://www.epoetry2007.net/english/papers/funkhouseruk.pdf" target="_blank"><cite>Le(s) Mange Texte(s): Creative Cannibalism and Digital Poetry</cite></a> (2007) Chris Funkhouser states:</p>

      <blockquote><p>An anthropophagic text,... devours other texts, icons, and is free to remix discrepant methods and philosophical approaches. Discovery and re-discovery of meaning is reached through the cannibalization of texts, which may then establish alternative perspectives on cultural or personal subjects taken up by authors in textual composition, re-composition, and composting. Through anthropophagy, artists are free to reshape external influences.</p></blockquote>

      <p><a href="http://remixworx.com" target="_blank">Remixworx</a> is a distinctly cannibalistic micro-community. In the early days, remixers were feasting on each other ravenously, greedily - a rich abundant diet. These days our appetites are more temperate, yet still we would rather cannibalise than consume.</p>
    </div><!--end inline14-->

    <div id="inline15" style="width:500px;">
    <h3>clashing creatively</h3>

      <p>Clashing composites or compositing clashes? In any community, you'll find clashing interests, clashing personalities, clashing opinions, etc. Remixing offers a way of using discord, mismatch and coincidence creatively and productively. There's no confrontation and neither is there negotiation nor compromise. Remixing is the trick, the process, the balm, the inspiration. From happy accidents to crafted composites, mix-ups and mutations, all have the potential to stimulate and enrich the creative community.</p>
    </div><!--end inline15-->

    <div id="inline16" style="width:400px;">
    <h3><a href="http://remixworx.com" target="_blank">R3/\/\1X\/\/0RX</a> = give and take</h3>

    <p>- giving and taking, giving more than taking, giving and being taken, and giving up control.</p>

    <p>Each remix is a gift.</p>
    </div><!--end inline16-->

    <div id="inline17" style="width:600px;">
    <h3>remote encounters and the intimate "performance of an act apart"</h3>

      <p>The intimate side of remixing involves getting down deep into another's remix, listening to its murmurings, undressing it, stripping it down to the code, trying to read its artificial mind, sensing its e-emotions, what it emotes.</p>

      <p>Then comes "the performance of an act apart"<sup id="fnref:2">1</sup> - the making it up and acting it out, the living through the reacting, re-making, remixing process. It's a simulation similar to a method actor's, transposing emotions and memories to the staged performance. Remixers can risk such intimacy because we are remote. We play out in public privacy, leaving behind us a trail of transmuting signs.</p>

    <!--  footNOTES -->
      <div class="footnotes">
        <hr/>
        <ol>
        <li id="fn:2">
        <p>Johan Huizinga (1938), <cite>Homo Ludens</cite></p></li>
        </ol>
      </div>
    </div><!--end inline17-->

    <div id="inline18" style="width:500px;">
    <h3>deeper &amp; deeper into code</h3>

      <p>crissxross going deeper and deeper over time - deeper into code, deeper into the digital social creative, diving in to remix.</p>
      <p>In the beginning I floated on the surface, not fully understanding what I was doing, tinkering with the code. The deeper I go, the more I understand, the more I'm transformed as an artist - until I become a changed creature in the deep end.</p>
    </div><!--end inline18-->

    <div id="inline19" style="width:600px;">
    <h3>Thickness of Avatars</h3>

      <h5><a href="http://anorecticavatar.blogspot.co.uk/2012/04/thickness-of-avatars.html" target="_blank">Anorectic Avatars discussion</a> with Alan Sondheim, UnderAcademy, April 2012</h5>

    <p>Conversations with Alan Sondheim led me to remix my <a class="fancy300x700" href="rawLoremIP.swf" title="rawLorem Ipsum">‘rawVamp’</a> creatures/sprites (sourced from the Visible Human Project) with various incarnations of Sondheim’s avatar work.</p>

    <p><strong>Alan:</strong></p>

    <blockquote><p>I keep thinking about the THICKNESS of avatars and their LACK THEREOF since there's nothing there but faces that give the appearance of solidity. If you cut open a HUMAN BEING or other organism, you get solid/liquid/gas, something or other, all the way down or in; if you go inside an AVATAR as such, you see nothing since most likely the faces just face one direction - outward.</p></blockquote>

    <p>He asked me to say more about the remixworx world:</p>

    <p><strong>Me:</strong></p>

    <blockquote><p>I find the process of remixing an intimate experience where I'm projecting something of myself - perhaps layers of myself - into the remix, inserting layers of digital media, words and code, between other remixers' layers of... well, not just digital media or code but ideas too. I felt it necessary, or it felt 'natural', to fashion something akin to an avatar to be... what? something shifting, slipping in and out of existence, sliding between the layers, being a remixable layer of me, perhaps, a skin I can shed and grow again, and again...</p></blockquote>
    </div><!--end inline19-->

    <div id="inline20" style="width:600px;">
    <h3>Letting Slip</h3>

      <h5><a href="http://anorecticavatar.blogspot.co.uk/2012/05/vyrgynalia.html" target="_blank">Anorectic Avatars discussion</a> with Alan Sondheim, UnderAcademy, May 2012</h5>

    <p><strong>Alan:</strong></p>

    <blockquote><p>...love the insertions, sad the original animation has disappeared…</p>

    <p>How do you see this in relation to the discussion about avatars? Certainly you're clothing the interior...</p></blockquote>

    <p><strong>Me:</strong></p>

    <blockquote><p>The reason I like to use the stills... is that I can program them randomly so that the animation is ever changing - an endless dynamic performance. Also, I'm attempting to exploit a commonality between the rawVamp/Visible Human slices and screenshots of the 3D avatar animation. I'm reconstituting these screengrabs/screen captures, reanimating them, bringing them back to, not life, but a different form of 'life'. I'm interested in the illusions and disillusions these snaps/grabs/captures conjure up - the coming together and breaking apart, the slip and slide from integration to dissociation and back again - a kind of animated dissociative fugue - continually reconfiguring (and prefiguring?). Is each, one or many? How interdependent are they? etc...</p>

    <p>Video animation has a different kind existence... the dance repeats but never changes.</p></blockquote>
    </div><!--end inline20-->

    <div id="inline21" style="width:600px;">
    <h3>SonoBuoy</h3>

      <h5><a href="http://anorecticavatar.blogspot.co.uk/2012/06/sonobuoy.html" target="_blank">Anorectic Avatars discussion</a> with Alan Sondheim, UnderAcademy, June 2012</h5>

    <p><strong>Alan:</strong></p>

    <blockquote><p>This I think is really the most successful of the mixes and really combines all the things we've been talking about; I quite like it and it has a depth to it... The positioning of my avatar's face somehow animates the meat of the human dissection...</p></blockquote>

    <p><strong>Me:</strong></p>

    <blockquote><p>Thanks. What I like about this one is that is that it has a sense of being a submersed world or of submersed beings co-existing, suspended in some kind of strange liquid solution, immiscible.</p></blockquote>

    <p><strong>Alan:</strong></p>

    <blockquote><p>Yes, the world portrayed seems more of a totality than the others, not a discrete grouping of layers. These are embedded, just like life itself; I think we tend to forget in this sense that we're all embedded in the world, embedded in our bodies in the world, and the avatars are at best illustrations of that, to the extent that they can't escape machine representation. But all of that will change.</p></blockquote>
    </div><!--end inline21-->

    <div id="inline22" style="width:600px;">
    <h3>forward in Flash?</h3>

    <p>Six years of remixing, what of the future?</p>

    <p>Tablet devices would be an ideal way to browse or peruse remixworx yet a vast swathe of the project won't play on most mobile devices because so many are remixed in Flash. Should we disregard the mobile web and carry on regardless? To further complicate matters, because we've relied on Flash so much and it's an expensive tool, there's an increasing disparity between the versions we use as different members choose to upgrade to the latest IDE or not. This often results in output that can't be remixed in earlier versions of the software.</p>

    <p>What should we do? Abandon Flash? Start an open source, mobile-friendly, responsive, web standards remixworx? Can remixworx adapt? Should we fork the project? How do we evolve?</p>
    </div><!--end inline22-->





    </main>

  </div>
</div>
