<!-- <main class="flow">
  <div class="center-wrapper">
    <h1 class="page-title">A crissxross trail < R3M1XW0RX</h1>
  </div>
  <cx-under-construction></cx-under-construction>
</main> -->

<div class="background">
  <div class="center-wrapper">
    <main class="crissxross-light-theme">
      <header>
        <h1 class="page-title">a crissxross trail < R3M1XW0RX</h1>
        <h2 class="subtitle">one remix player's scenic route through remixworx - click to play/read samples</h2>
      </header>

      <div class="trail-grid">

        <div class="about">
          <button mat-mini-fab
            (click)="openStoryDialog('about')">
            <mat-icon>help_outline</mat-icon>
          </button>
        </div>

        <div class="story s1">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story1')">
            the magic circle
          </button>
        </div>

        <figure class="fig1 mat-elevation-z4">
          <img src="assets/img/cxtrail/point.jpg" alt="point taken thumbnail">
        </figure>

        <div class="story s2">
          <button class="mat-elevation-z4"
          (click)="openStoryDialog('story2')">
            flash point about control
          </button>
        </div>

        <figure class="fig2 mat-elevation-z4">
          <img src="assets/img/cxtrail/used.jpg" alt="Used to be big thumbnail">
        </figure>

        <div class="story s3">
          <button class="mat-elevation-z4"
          (click)="openStoryDialog('story3')">
            inventing & reinterpreting
          </button>
        </div>

        <figure class="fig3 mat-elevation-z4">
          <img src="assets/img/cxtrail/archipelago.jpg" alt="archipelago thumbnail">
        </figure>

        <figure class="fig4 mat-elevation-z4">
          <img src="assets/img/cxtrail/thing.jpg" alt="thing thumbnail">
        </figure>

        <div class="story s4">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story4')">
            aliases, pen names, stage names...
          </button>
        </div>

        <figure class="fig5 mat-elevation-z4">
          <img src="assets/img/cxtrail/woods.jpg" alt="If you go down to the woods thumbnail">
        </figure>

        <div class="story s5">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story5')">
            what's the attraction?
          </button>
        </div>

        <figure class="fig6 mat-elevation-z4">
          <img src="assets/img/cxtrail/headgap.jpg" alt="headgap thumbnail">
        </figure>

        <figure class="fig7 mat-elevation-z4">
          <img src="assets/img/cxtrail/tent.jpg" alt="Bread Circus thumbnail">
        </figure>

        <figure class="fig8 mat-elevation-z4">
          <img src="assets/img/cxtrail/play2.jpg" alt="water dragon thumbnail">
        </figure>

        <figure class="fig9 mat-elevation-z4">
          <img src="assets/img/cxtrail/screw_small.jpg" alt="chance joiner thumbnail">
        </figure>

        <div class="story s6">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story6')">
            wordplay
          </button>
        </div>

        <figure class="fig10 mat-elevation-z4">
          <img src="assets/img/cxtrail/barnoracle.jpg" alt="barnoracle thumbnail">
        </figure>

        <div class="story s7">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story7')">
            stripping it down to the code
          </button>
        </div>

        <figure class="fig11 mat-elevation-z4">
          <img src="assets/img/cxtrail/anniversary.jpg" alt="anniversary thumbnail">
        </figure>

        <figure class="fig12 mat-elevation-z4">
          <img src="assets/img/cxtrail/loyalty2.jpg" alt="loyalty card thumbnail">
        </figure>

        <div class="story s8">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story8')">
            tampering with the otherr
          </button>
        </div>

        <figure class="fig13 mat-elevation-z4">
          <img src="assets/img/cxtrail/janus08.jpg" alt="janus 2008 thumbnail">
        </figure>

        <!-- row 9 -->
        <figure class="fig14 mat-elevation-z4">
          <img src="assets/img/cxtrail/pen1.jpg" alt="Sacrificial Penpusher thumbnail">
        </figure>

        <div class="story s9">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story9')">
            Writing's easy...
          </button>
        </div>

        <figure class="fig15 mat-elevation-z4">
          <img src="assets/img/cxtrail/punctuate.gif" alt="punctuate thumbnail">
        </figure>

        <!-- row 10 -->
        <figure class="fig16 mat-elevation-z4">
          <img src="assets/img/cxtrail/botty.jpg" alt="botty training thumbnail">
        </figure>

        <div class="story s10">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story10')">
            no use setting rules
          </button>
        </div>

        <figure class="fig17 mat-elevation-z4">
          <img src="assets/img/cxtrail/outpostmsg5.jpg" alt="outpost message thumbnail">
        </figure>

        <div class="story s11">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story11')">
            becoming other
          </button>
        </div>

        <!-- row 11 -->
        <figure class="fig18 mat-elevation-z4">
          <img src="assets/img/cxtrail/facts.jpg" alt="easy facts thumbnail">
        </figure>

        <div class="story s12">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story12')">
            outside world
          </button>
        </div>

        <figure class="fig19 mat-elevation-z4">
          <img src="assets/img/cxtrail/mondrianMoney.jpg" alt="Mondrian money moon thumbnail">
        </figure>

        <figure class="fig20 mat-elevation-z4">
          <img src="assets/img/cxtrail/ada.jpg" alt="Ada Lovelace Day thumbnail">
        </figure>

        <figure class="fig21 mat-elevation-z4">
          <img src="assets/img/cxtrail/rawLorem.jpg" alt="raw Lorem Ipsum thumbnail">
        </figure>

        <div class="story s13">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story13')">
            creative cannibalism
          </button>
        </div>

        <figure class="fig22 mat-elevation-z4">
          <img src="assets/img/cxtrail/stamp1.jpg" alt="address unknown thumbnail">
        </figure>

        <div class="story s14">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story14')">
            clashing creatively
          </button>
        </div>

        <div class="story s15">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story15')">
            give and take
          </button>
        </div>

        <figure class="fig23 mat-elevation-z4">
          <img src="assets/img/cxtrail/sprite_small.jpg" alt="end of the rainblow thumbnail">
        </figure>

        <figure class="fig24 mat-elevation-z4">
          <img src="assets/img/cxtrail/janus.jpg" alt="Janus 2010 thumbnail">
        </figure>

        <figure class="fig25 mat-elevation-z4">
          <img src="assets/img/cxtrail/bookish1_small.jpg" alt="bookish stones thumbnail">
        </figure>

        <figure class="fig26 mat-elevation-z4">
          <img src="assets/img/cxtrail/id.jpg" alt="ID card thumbnail">
        </figure>

        <figure class="fig27 mat-elevation-z4">
          <img src="assets/img/cxtrail/spritely.jpg" alt="spritely does it thumbnail">
        </figure>

        <figure class="fig28 mat-elevation-z4">
          <img src="assets/img/cxtrail/biogenoscopic.jpg" alt="biogenoscopic thumbnail">
        </figure>

        <div class="story s16">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story16')">
            remote encounters and an act apart
          </button>
        </div>

        <figure class="fig29 mat-elevation-z4">
          <img src="assets/img/cxtrail/stoneFaceSea.jpg" alt="stoneFace Sea thumbnail">
        </figure>

        <div class="story s17">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story17')">
            deeper and deeper
          </button>
        </div>

        <figure class="fig30 mat-elevation-z4">
          <img src="assets/img/cxtrail/shadowCapital.jpg" alt="Shadow Capital thumbnail">
        </figure>

        <figure class="fig31 mat-elevation-z4">
          <img src="assets/img/cxtrail/bodies.jpg" alt="Turning Away Towards thumbnail">
        </figure>

        <div class="story s18">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story18')">
            Thickness of Avatars
          </button>
        </div>

        <figure class="fig32 mat-elevation-z4">
          <img src="assets/img/cxtrail/slip.jpg" alt="Letting Slip thumbnail">
        </figure>

        <div class="story s19">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story19')">
            Letting Slip
          </button>
        </div>

        <figure class="fig33 mat-elevation-z4">
          <img src="assets/img/cxtrail/sono.jpg" alt="SonoBuoy thumbnail">
        </figure>

        <div class="story s20">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story20')">
            SonoBuoy
          </button>
        </div>

        <div class="story s21">
          <button class="mat-elevation-z4"
            (click)="openStoryDialog('story21')">
            forward Flash?
          </button>
        </div>


      </div>

    </main>

  </div>
</div>
