<div class="background">
  <div class="center-wrapper">
    <main class="crissxross-light-theme">
      <header>
        <h1 class="page-title">a crissxross trail < R3M1XW0RX</h1>
        <h2 class="subtitle">one remix player's scenic route through remixworx - click to play/read samples</h2>
      </header>

      <div class="about">
        <button mat-mini-fab
          (click)="openStoryDialog('about')">
          <mat-icon>help_outline</mat-icon>
        </button>
      </div>

      <cx-trail-grid></cx-trail-grid>

    </main>

  </div>

  <footer>
    A sample trail of remixes by crissxross for <a href="http://remixworx.com" title="a site of creative collaboration">remixworx</a>. It was part of an <a href="http://www.elmcip.net/critical-writing/remixworx-an-artists-presentation" target="_blank">artists' presentation of R3/\/\1X\/\/0RX as a case study</a> for the <abbr title="Electronic Literature as a Model of Creativity and Innovation in Practice">ELMCIP</abbr> conference on <a href="http://www.elmcip.net/conference" target="_blank">Remediating the Social</a>, Edinburgh, November 2012.
  </footer>
</div>
