/* For styling bare HTML elements */

// added by ng add material schematic
html, body {
  height: 100%;
  // TODO: why not 100vh?
  // height: 100vh;
}

body {
  font-family: var(--ff-sans);
  line-height: 1.3;
  font-size: var(--fs-400);
  font-size: 1rem;
}
// added by ng add material schematic
// body { font-family: Roboto, "Helvetica Neue", sans-serif; }

// p {
//   line-height: 1.5em;
// }

main {
  line-height: 1.5em;
  // max-width: 50rem;
  // margin: 0 auto;
}

// main > * + * {
//   margin-top: 2em;
// }


/* NOTE
.mat-typography on body element applies:

  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;

*/
