<div class="grid-auto pad-top">

  <div class="nav">
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a></li>
      <li><a [routerLink]="['/elit']" routerLinkActive="router-link-active">
        ELit
      </a></li>
      <li><a [routerLink]="['/remixworx']" routerLinkActive="router-link-active">
        Remixworx
      </a></li>
      <li><a [routerLink]="['/movingpix']" routerLinkActive="router-link-active">
        Moving Pix
      </a></li>
      <li><a [routerLink]="['/home/about']" routerLinkActive="router-link-active">
        About
      </a></li>
      <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">
        Blog
      </a></li>
    </ul>
  </div>

  <div class="credits flow">
    <p><span>Christine Wilks</span> <br> digital writer, artist, developer & practice-based researcher</p>
    <p><a href="https://github.com/crissxross">GitHub</a>
      | <a href="http://codepen.io/crissxross/">Codepen</a>
      | <a href="https://www.youtube.com/channel/UCj5Q-NFplyMnzSe8fPJcXmA">YouTube</a>
      | twitter <a href="https://twitter.com/crissxross">@crissxross</a></p>
  </div>

  <div class="license">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />Except where otherwise stated, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
  </div>

</div>

