<main class="container">

  <h1 class="page-title">REMIXWORX Archive</h1>

  <div class="grid-auto">
    <p class="intro">
      From 2007 to 2013 I was an active member of Remixworx, a collaborative creative project for remixing multimedia digital art, animation and writing. I created more than 100 remixes, the vast majority in Flash. Since the Flash Player is no longer available in most browsers, I have made video screencasts of most of my remixes.
    </p>
    <div *ngFor="let artwork of artworks" class="artwork">
      <cx-artwork-card [artwork]="artwork" class="crissxross-light-theme"
      ></cx-artwork-card>
    </div>
  </div>

</main>

