<main class="flow">

  <ng-container *ngIf="fittingThePattern">

    <div class="center-wrapper">
      <h1 class="video-page-title"> {{fittingThePattern.title}} </h1>

      <cx-youtube-video
        [videoId]="video && video.id"
      ></cx-youtube-video>
    </div>

    <div class="center-measure flow">
      <p *ngFor="let para of fittingThePattern.description"> {{para}} </p>

      <cx-accolades-list
        [artwork]=fittingThePattern
      ></cx-accolades-list>
    </div>

  </ng-container>

</main>
