<main class="flow">

  <ng-container *ngIf="fittingThePattern">

    <div class="wide-wrapper">
      <h1 class="page-title"> {{fittingThePattern.title}} </h1>

      <cx-youtube-video
        [videoId]="fittingThePattern.youtubeVideos[0].id"
      ></cx-youtube-video>
    </div>

    <div class="center">
      <p *ngFor="let para of fittingThePattern.description"> {{para}} </p>

      <cx-accolades-list
        [artwork]=fittingThePattern
      ></cx-accolades-list>
    </div>

  </ng-container>


</main>
