<div class="blog-wrapper">

  <header>
    <div class="post-label" *ngIf="currentPost$ | async as currentPost">
      <div class="categories" *ngIf="currentPost.categories">
        <span *ngFor="let category of currentPost.categories">{{category}}</span>
      </div>
    </div>
  </header>

  <article class="blog-post">
    <div class="center-measure flow">

      <!-- This is where Scully will inject the static HTML -->
      <scully-content></scully-content>

      <ng-container *ngIf="currentPost$ | async as currentPost">
        <div class="date">
          <time>{{currentPost.date | date:"d MMM y"}}</time><time *ngIf="currentPost.updated"> - updated on {{currentPost.updated | date:"d MMM y"}}</time>
        </div>
        <div class="tags" *ngIf="currentPost.tags">
          Tags: <span *ngFor="let tag of currentPost.tags">{{tag}}</span>
        </div>
      </ng-container>
    </div>
  </article>

  <footer>
    <div class="links">
      <a [routerLink]="['/blog']">More blog posts</a>
    </div>
  </footer>

</div>
