// TODO: maybe put interesting graphics in the background ??
.blog-wrapper {
  background-color: var(--clr-neutral-50);
  // background-color: var(--clr-red-50);
  // background-color: var(--clr-accent-dark);
  color: var(--clr-neutral-900);
  // padding: 0.25rem 0;
}

// .center-measure { outline: 1px solid green; }

.blog-post {
  padding-top: var(--s0);
  padding-bottom: var(--s1);
  // outline: 1px solid red;
}

h1 { font-size: var(--fs-800) };
h2 { font-size: var(--fs-700) };
h3 { font-size: var(--fs-600) };
h4 { font-size: var(--fs-500) };

a {
  color: var(--clr-primary-base);
  color: currentColor;
}

header,
footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--s0);
}

header {
  border-top: 6px solid var(--clr-accent-base);
  padding-top: 10px;
  // background-color: var(--clr-amber-100);
}

footer {
  border-bottom: 6px solid var(--clr-accent-base);
  // background-color: var(--clr-amber-200);
}

.page-label {
  font-weight: var(--fw-300);
}

figcaption {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
}

.callout {
  background-color: var(--clr-amber-100);
  border-left: 6px solid var(--clr-accent-base);
  padding: var(--s0);
  padding-left: var(--s1);
  font-size: 1.25em;
}

blockquote {
  padding-left: 40px;
  border-left: 0.25em solid var(--clr-amber-200);
  position: relative;
}

blockquote::before {
  content: "\201C";
  font-size: 4em;
  color: var(--clr-amber-200);
  position: absolute;
  left: 8px;
  top: -18px;
}

