<mat-card>

  <ng-container *ngIf="artwork">

    <mat-card-title> {{artwork.title}} </mat-card-title>

    <img *ngIf="artwork.displayType === 'featured'"
          mat-card-image [alt]="artwork.id"
          src="assets/img/{{artwork.id}}.png">

    <mat-card-content>

      <div class="major" *ngIf="artwork.displayType === 'featured'; else minor">
        <p>{{artwork.description}}</p>
        <p>{{artwork.collab}}</p>
      </div>

      <ng-template #minor>
        <div class="minor">
          <p>{{artwork.description}}</p>
          <img mat-card-sm-image [alt]="artwork.id"
            src="assets/img/{{artwork.id}}-thumb.png">
        </div>
      </ng-template>

      <!-- <p class="specs">{{artwork.pubdate}}</p>
      <p class="specs">{{artwork.tech}}</p>
      <a mat-raised-button href="#">More about {{artwork.title}} </a> -->

    </mat-card-content>

    <footer>
      <span class="specs">{{artwork.pubdate}}, {{artwork.tech}}</span> <a mat-raised-button href={{artwork.workUrl}}>More...</a>
    </footer>

  </ng-container>

</mat-card>
